@tailwind base;
@tailwind components;
@tailwind utilities;

$gray: #1f1f1f;
$orange: #ff6600;
$white: #ffffff;

@import url('https://fonts.googleapis.com/css?family=Oxanium:400,500,600,700,800|Poppins:400,400i,500,500i,600,600i,700,700i&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: $gray;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oxanium', cursive;
    font-weight: 800;
    text-transform: uppercase;
}

h1 {
    @apply text-7xl;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

nav {
    ul {
    }

    li {
        @apply font-light text-sm mr-10 py-5;
        a {
            @apply text-gray-300;
            &:link {
                @apply text-gray-300;
            }
            &:active {
                color: $orange;
            }
            &:visited {
                @apply text-gray-300;
            }
            &:hover {
                color: $orange;
            }
        }
    }
}
nav.nav-footer {
    ul {
    }

    li {
        @apply font-light text-xs mr-10 py-5;
        a {
            @apply text-gray-300;
            &:link {
                @apply text-gray-300;
            }
            &:active {
                color: $orange;
            }
            &:visited {
                @apply text-gray-300;
            }
            &:hover {
                color: $orange;
            }
        }
    }
}

header {
    background: rgb(43,43,43);
    background: radial-gradient(circle, rgba(43,43,43,1) 0%, rgba(31,31,31,1) 100%);
}

.title {
    color: $orange;
    &::after {
        content: ' ⎯⎯⎯';
    }
}

.subtitle {
    @apply text-3xl font-bold text-white pb-4 leading-relaxed;
}

.text-orange {
    color: $orange;
}

a:visited {
    @apply text-white;
}

a:hover {
    @apply transition-colors ease-in-out text-white;
}
